@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #64ffda;
  --main-bg-color: #1e1c49;
  --alternative-text-color: #ccd6f6;
  --alternative-bg-color: #263a7d;
  --background-hover-color: #4c584c;
}

* {
  scroll-behavior: smooth;
  margin: 0;
}

/* components/social/ContactLinks */
.social-links {
  color: var(--alternative-text-color);
  font-size: large;
  margin: 10px;
}
.social-links:hover {
  color: var(--main-text-color);
  font-size: x-large;
}

/* components/common/DividerLine */
.screen-divider-line {
  width: 75%;
  height: 1px;
  background-color: var(--alternative-text-color);
  margin: 5px 0px 10px 0px;
  opacity: 0.5;
}

/* components/page-index/PageIndex */
.index-circle {
  border-color: var(--main-text-color);
  border-width: 1.5px;
  margin: 12px 10px 17px 10px;
  width: 17px;
  height: 17px;
}
.index-circle:hover {
  background-color: var(--background-hover-color);
}
.index-top-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 29px;
}
.index-middle-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 63px;
}
.index-bottom-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 97px;
}

/* screens/about/about */
.about-container {
  background-color: var(--main-bg-color);
}

/* components/about/Presentation */
.header-title {
  color: var(--alternative-text-color);
}
.header-title span {
  color: var(--main-text-color);
}
.header-content {
  color: var(--alternative-text-color);
}
.header-content span {
  color: var(--main-text-color);
}

/* components/about/ResumeButton */
.resume-button {
  color: var(--main-text-color);
}
.resume-button:hover {
  background-color: var(--background-hover-color);
}

/* screens/experience/experience */
.experience-container {
  background-color: var(--main-bg-color);
}
.experience-company-link:hover {
  color: var(--main-text-color);
}

/* screens/projects/projects */
.projects-container {
  background-color: var(--main-bg-color);
}

/* components/projects/TitleButton */
.projects-button-active {
  color: var(--main-text-color);
  border: solid 1px var(--main-text-color);
  border-radius: 10px;
}
.projects-button-inactive {
  color: var(--alternative-text-color);
  border: solid 1px var(--alternative-text-color);
  border-radius: 10px;
}
.projects-button-inactive:hover {
  color: var(--main-text-color);
}

/* components/projects/Projectcard */
.projects-card {
  border: 1px solid var(--alternative-text-color);
  border-radius: 5px;
  margin: 0.4rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--alternative-bg-color);
}
.projects-card-title {
  text-align: center;
  color: var(--main-text-color);
}
.projects-card-technos {
  color: var(--alternative-text-color);
}
.projects-icon-link {
  color: var(--alternative-text-color);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
.projects-icon-link:hover {
  color: var(--main-text-color);
}
.projects-icon-title {
  color: var(--main-text-color);
  text-align: center;
}

/* components/footer/EducationCard */

.education-card {
  background-color: var(--alternative-bg-color);
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  font-size: 0.9rem;
}

/* screens/footer/footer */

.footer-container {
  background-color: var(--main-bg-color);
}
