@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #64ffda;
  --main-bg-color: #1e1c49;
  --alternative-text-color: #ccd6f6;
  --alternative-bg-color: #263a7d;
  --background-hover-color: #4c584c;
}

* {
  scroll-behavior: smooth;
}

/*Social links*/
.social-links {
  color: var(--alternative-text-color);
  font-size: large;
  margin: 10px;
}
.social-links:hover {
  color: var(--main-text-color);
  font-size: x-large;
}

/* Page Index*/
.index-circle {
  border-color: var(--main-text-color);
  border-width: 1.5px;
  margin: 12px 10px 17px 10px;
  width: 17px;
  height: 17px;
}
.index-circle:hover {
  background-color: var(--background-hover-color);
}

.index-top-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 29px;
}

.index-middle-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 63px;
}

.index-bottom-line {
  width: 1.5px;
  height: 18px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 18px;
  top: 97px;
}

/*Header component styles*/
.header-container {
  background-color: var(--main-bg-color);
}

.header-title {
  color: var(--alternative-text-color);
}
.header-title span {
  color: var(--main-text-color);
}

.header-content {
  color: var(--alternative-text-color);
}
.header-content span {
  color: var(--main-text-color);
}

.header-resume {
  color: var(--main-text-color);
}

.header-resume:hover {
  background-color: var(--background-hover-color);
}

/*Experience component style*/
.experience-container {
  background-color: var(--main-bg-color);
}

.experience-company-link:hover {
  color: var(--main-text-color);
}

.experience-line {
  width: 75%;
  height: 1px;
  background-color: var(--alternative-text-color);
  margin: 5px 0px 5px 0px;
  opacity: 0.5;
}

/* screens/projects/projects */
.projects-container {
  background-color: var(--main-bg-color);
}

/* components/projects/TitleButton */
.projects-button-active {
  color: var(--main-text-color);
  border: solid 1px var(--main-text-color);
  border-radius: 10px;
}
.projects-button-inactive {
  color: var(--alternative-text-color);
  border: solid 1px var(--alternative-text-color);
  border-radius: 10px;
}
.projects-button-inactive:hover {
  color: var(--main-text-color);
}

/* components/projects/Projectcard */
.projects-card {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  margin: 0.4rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
